# Copia este archivo como .env y llena los valores reales
NODE_ENV=development
PORT=4000
MONGO_URI=mongodb+srv://USER:PASS@CLUSTER.mongodb.net/erp?retryWrites=true&w=majority
JWT_ACCESS_SECRET=cambia-un-secreto-largo-aleatorio
JWT_REFRESH_SECRET=otro-secreto-largo-aleatorio-distinto
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ORIGINS=http://localhost:19006,http://localhost:8081
